$revature-orange-light: #f3a55d;
$revature-orange: #f26925;
$drew-orange: #f3a55d;
$rounded-amount: 0.5em;

@mixin flex-col {
    display: flex;
    flex-direction: column;
  }

@mixin rounded-top {
    border-top-left-radius: $rounded-amount;
    border-top-right-radius: $rounded-amount;
  }


  .nogo {
    background-color: $revature-orange-light; 
  color: white; 
  border: 2px solid $revature-orange-light;
  position: fixed;
  width:40%;
  bottom:5%;
  display:float;
  text-align:center;
  z-index: 100;

  a{
    color:#000000;
    text-decoration: underline;
    font-size: 2em;
  }


}

.nogo{
    left:30%;
  }
.modalbtn {
    color: black;
    border-radius: 10px;
    background-color: #f3a55d;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
}

.panel-body, th, h4 {
    background-color: #f3a55d;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

td {
    text-align: center;
}

.col-md-2 {
    text-align: center;
}

.table-container {
    width: 90%;
    margin-left: 5%;
}

.sortbtn {
    font-size: 80%;
}
