.modalbtn {
    color: black;
    border-radius: 10px;
    background-color: #f3a55d;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .panel-body, th, h4, h2 {
    background-color: #f3a55d;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  
  .col-md-2 {
    text-align: center;
  }
  
  .table-container {
    width: 90%;
    margin-left: 5%;
  }
  
  .sortbtn {
    font-size: 80%;
  }