<div>
    <app-navbar></app-navbar>
</div>

<table class="table table-striped" id="resptable">
    <thead align="center">
        <tr id="tableheader">
            <th scope="col">User Email</th>
            <th scope="col">Date Assigned</th>
            <th scope="col">Date Completed</th>
        </tr>
    </thead>
    <tbody>

        <!-- ngFor loop to iterate through and display all respondents of survey-->
        <tr *ngFor='let temp of listOfSurvey; index as i'>
            <td class="dataElement">{{temp.userEmail}}</td>
            <td class="dataElement">{{temp.dateAssigned}}</td>
            <td class="dataElement">{{temp.dateComplete}}</td>
        </tr>

    </tbody>
</table>

<router-outlet></router-outlet>