<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

      <select class="custom-select">
        <option selected>Select Cohort</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <br>

      <select class="custom-select">
        <option selected>Select An Associate</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <br>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Date</span>
        </div>
        <input type="text" placeholder="Enter Date" bsDatepicker [(ngModel)]="dateSelection" class="form-control" bsDatepicker>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Time</span>
        </div>
        <input type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Location</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter Location" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Client</span>
          </div>
          <input type="text" class="form-control" placeholder="Enter Client Name" aria-describedby="basic-addon1">
        </div>

        <button type="button" (click)="try()" class="btn btn-dark">Confirm Interview</button>

    </div>
    <div class="col-3"></div>
  </div>


</div>