.btn-default {
    background-color: grey; 
}

timepicker{
    background-color: rgba(221, 217, 217, 0.705);
}

.newInterview{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: .5px solid #d3d3d3;
    padding: 1rem; //need to find proper measurements for border
    width: 700px;
    //-webkit-box-shadow: 11px 7px 42px 5px rgba(0,0,0,0.22);
//-moz-box-shadow: 11px 7px 42px 5px rgba(0,0,0,0.22);
//box-shadow: 11px 7px 42px 5px rgba(0,0,0,0.22);
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
    border-color: orange;
  }