<app-navbar></app-navbar>

<div class="container">
  <div class="newInterview">
    <div class="row">
      <div class="col-3">
      </div>

      <div class="col-3"></div>
    </div>
    <div class="panel-body" id="title"><h3>Create Associate Interview</h3></div>
    <br><br>
    <div class="col-3"></div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">

        <select class="custom-select" [(ngModel)]='selectedCohort'
          (change)="firstDropDownChanged($event.target.value);submitReadyCheck()">
          <option selected>Select Cohort</option>
          <option *ngFor='let v of _cohortName'>{{v}}</option>

        </select>
        <br>
        <br>
        <select class="custom-select" [disabled]="dropdown2NotReady" [(ngModel)]='selectedAssociate'
          (change)="submitReadyCheck()">
          <option selected>Select An Associate</option>
          <option *ngFor='let v of _associateName'>{{v}}</option>

        </select>
        <br>
        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Date</span>
          </div>
          <input type="text" placeholder="Enter Date" bsDatepicker [minDate]="minDate" [(ngModel)]="dateSelection"
            class="form-control">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Location</span>
          </div>
          <input type="text" class="form-control" (keypress)="submitReadyCheck()" [(ngModel)]='selectedLocation'
            placeholder="Enter Location" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Client</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]='selectedClient' (keypress)="submitReadyCheck()"
            placeholder="Enter Client Name" aria-describedby="basic-addon1">
        </div>
        <button type="button" [disabled]="buttonDisabled" (click)="sendInterviewData()" class="btn rev-btn btn-lg btn-block" >Confirm
          Interview</button>

      </div>


    </div>
  </div>
</div>