<div id="login-container">
  <div class="shadow-lg p-3 mb-5 bg-white rounded top-lev-div">

    <h4 id="titleHead">Sign in to SMS</h4>
    <form id="login-form" (ngSubmit)="submit()" *ngIf="!newPasswordRequired">
      <input name="username" type="text" class="form-control txt-bx" placeholder="Username" [(ngModel)]="username"
        required />

      <input name="password" type="password" class="form-control txt-bx" id="login-pass" placeholder="Password"
        [(ngModel)]="password" required />
      <button class="btn rev-btn" type="submit">Login</button>
    </form>
    <form id="login-form" (ngSubmit)="submitNewPassword()" *ngIf="newPasswordRequired">
      <input name="new-password" type="password" class="form-control txt-bx" placeholder="New Password" [(ngModel)]="newPassword"
        required />

      <input name="confirmation-password" type="password" class="form-control txt-bx" id="login-pass" placeholder="Confirmation Password"
        [(ngModel)]="confirmationPassword" required />
      <button class="btn rev-btn" type="submit">Login</button>
    </form>
    <div class="row reset-div">

      <button id="forgot-pass-btn" data-toggle="modal" data-target="#exampleModal">Forgot Password</button>
    </div>
    <!-- <h6 id="invalidCredHead">Invalid Credentials</h6> -->

  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="send" (click)="sendEmail()">Send</button>
      </div>
    </div>
  </div>
</div>