<app-navbar></app-navbar>
<div class='table-container'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      {{pageTitle}}
    </div>

    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-2'><b>Search:</b></div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]='listFilter' />
        </div>
        <div class='col-md-2'><b>Review Status:</b></div>
        <div class='col-md-4'>
            <select autofocus type='text' [(ngModel)]='reviewFilter'>
                <option value="all">Any</option>
                <option value="reviewed">Reviewed</option>
                <option value="notreviewed">Not Reviewed</option>
              </select>
        </div>
      </div>
    </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='interviewList && interviewList.length'>
        <thead class='rev-background-color'>
          <tr>
            <th>Reviewed</th>
            <th>Associate Email</th>
            <th>Manager Email</th>
            <th>Location</th>
            <th>Client</th>
            <th>Date Notified</th>
            <th>Date Scheduled</th>
            <th>Date Reviewed</th>
            <th>Associate Feedback</th>
            <th>Interview Feedback</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <button (click)='sortByAssociateEmailAsc()'>▲</button>
              <button (click)='sortByAssociateEmailDesc()'>▼</button>
            </th>
            <th>
              <button class='sortbtn' (click)='sortByManagerEmailAsc()'>▲</button>
              <button class='sortbtn' (click)='sortByManagerEmailDesc()'>▼</button>
            </th>
            <th>
              <button class='sortbtn' (click)='sortByLocationAsc()'>▲</button>
              <button class='sortbtn' (click)='sortByLocationDesc()'>▼</button>
            </th>
            <th>
              <button class='sortbtn' (click)='sortByClientAsc()'>▲</button>
              <button class='sortbtn' (click)='sortByClientDesc()'>▼</button>
            </th>
            <th>
                <button class='sortbtn' (click)='sortByNotifiedAsc()'>▲</button>
                <button class='sortbtn' (click)='sortByNotifiedDesc()'>▼</button>
            </th>
            <th>
                <button class='sortbtn' (click)='sortByScheduledAsc()'>▲</button>
                <button class='sortbtn' (click)='sortByScheduledDesc()'>▼</button>
            </th>
            <th>
                <button class='sortbtn' (click)='sortByReviewedAsc()'>▲</button>
                <button class='sortbtn' (click)='sortByReviewedDesc()'>▼</button>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let temp of filteredInterviewList'>
            <td *ngIf='temp.reviewed'>Yes</td>
            <td *ngIf='!temp.reviewed'>No</td>
            <td>{{temp.associateEmail}}</td>
            <td>{{temp.managerEmail}}</td>
            <td>{{temp.place}}</td>
            <td>{{temp.client.clientName}}</td>
            <td>{{temp.notified | date}}</td>
            <td>{{temp.scheduled | date}}</td>
            <td>{{temp.reviewed | date}}</td>
            
            <td *ngIf='temp.associateInput'>
              <button type="button" id={{$id}} class="modalbtn" (click)='openAssociateInputModal(temp.id)' data-toggle="modal" data-target='#associateInputModal'>Display</button>

              <div class="modal fade bd-example-modal-lg" id='associateInputModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body" id='modal-text'>
                      <h4>Associate Feedback</h4>
                      <hr>
                      <label for='notificationReceived'><b>Notification Received: {{notificationDate | date}} </b></label><br>
                      <label for='descriptionProvided'><b>Description Provided: {{descriptionProvided}}</b></label><br><br>
                      <label for='proposedFormat'><b>Proposed Format: {{proposedFormat}}</b></label><br>
                      <label for='actualFormat'><b>Actual Format: {{actualFormat}}</b></label><br>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf='!temp.associateInput'>N/A</td>

            <td *ngIf='temp.feedback'>
              <button type="button" id={{$id}} class="modalbtn" (click)='openInterviewFeedbackModal(temp.id)' data-toggle="modal" data-target='#interviewFeedbackModal'>Display</button>

              <div class="modal fade bd-example-modal-lg" id='interviewFeedbackModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body" id='modal-text'>
                      <h4>Interview Feedback</h4>
                      <hr>
                      <label for='dateRequested'><b>Date Requested: {{interviewFeedbackDateReq | date}} </b></label><br>
                      <label for='feedbackReceived'><b>Date Received: {{interviewFeedbackDateRec | date}}</b></label><br>
                      <label for='feedbackDelivered'><b>Feedback Delivered: {{interviewFeedbackDateDel | date}}</b></label><br>
                      <label for='feedbackStatus'><b>Feedback Status: {{interviewFeedbackStatus}}</b></label><br><br>
                      <label for='feedback'><b>Feedback Comments: {{interviewFeedbackComments}}</b></label><br>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf='!temp.feedback'>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>