#manager-feed{
    border: 2px solid;
    padding: 60px; 
    border-color: orange;
    width: 45%;
    resize: both;
    overflow: auto;
    position: relative;
    left: 27%;
    margin-top: 5%;
}

.col-lg-8{

    
}