<app-navbar></app-navbar>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Temporary button to launch feedback page</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <h4>Interview Feedback</h4>
            <hr>
            <!-- <label for="dateRequested"><b>Date Requested: + {{data.FeedbackeRequested}} </b></label><output name=" dateRequested" ></output><br>
            <label for="feedbackStatus"><b>Feedback Status: + {{data.feedbackStatus}}</b></label><output name=" feedbackStatus" ></output><br>
            <label for="feedbackReceived"><b>Date Received: + {{data.feedbackRequested}}</b></label><output name=" dateReceived" ></output><br>
            <label for="feedback"><b>Actual Feedback Comments:  + {{data.feedback}}</b></label><output name=" actualFeedbackComments" ></output><br><br><br>
            <label for= feedbackDelivered"><b>Feedback Delivered: + {{data.feedbackDelivered}}</b></label><output name=" dateDelivered" ></output><br> -->

          </div>
    </div>
  </div>
</div>