#manager-feed{
    border: 2px solid;
    padding: 60px; 
    border-color: orange;
    width: 45%;
    resize: both;
    overflow: auto;
    position: relative;
    left: 27%;
    margin-top: 5%;
}
/* .col-lg-8{
} */
.current-interview{
    border-bottom: 1px solid #ffffff !important;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 28px -12px -1px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 1px 28px -12px -1px rgba(0, 0, 0, 0.87);
    box-shadow: 1px 28px -12px -1px rgba(0, 0, 0, 0.87);
    background: -webkit-linear-gradient(right, #f8d6b6, #acc5c9);
    background: -webkit-linear-gradient(right, #e7d6c7, #8bdde7);
    background: -moz-linear-gradient(right, #e2d0be, #eaf1f1);
    background: -o-linear-gradient(right, #eec5a0, #e1e9eb);
    background: linear-gradient(to left, #f3a55d, #e1e7e7);
    box-align: right;
      padding: 2%; 
      min-height: 80px; 
    width: 100%;
  }