<app-navbar></app-navbar>


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <h5>Interview Feedback</h5><br><br><br>

            <label for="dateRequested"><b>Date Requested: </b></label><br>
            <label for="feedbackStatus"><b>Feedback Status: </b></label><br>
            <label for="dateReceived"><b>Date Received: </b></label><br>
            <label for="actualFeedbackComments"><b>Actual Feedback Comments: </b></label><br>
            <label for="dateDelivered"><b>Date Delivered: </b></label><br>

          </div>
    </div>
  </div>
</div>