<div>
    <form #associateEmail='ngForm' (ngSubmit)='emailSubmit(associateEmail)'>
        <input type='email' name='cohortEmail' ngModel placeholder='Add Associate By Email' />
        <button type='submit'>Submit</button>
    </form>
    <table>
        <tr>
            <th>Associate ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>Trainer</td>
            <td>{{cohort.trainer.firstName}}</td>
            <td>{{cohort.trainer.lastName}}</td>
            <td>{{cohort.trainer.email}}</td>
            <td>{{cohort.trainer.phoneNumber}}</td>
            <td>{{cohort.trainer.trainingAddress.city}}, {{cohort.trainer.trainingAddress.state}}</td>
        </tr>
        <tr *ngIf="!cotrainer">
            <input type='text' id='cotrainerEmail' placeholder="Add Cotrainer By Email" ngModel />
            <button (click)="submitCotrainer()">Add Cotrainer</button>
        </tr>
        <tr *ngIf='cotrainer'>
            <td>Cotrainer</td>
            <td>{{cohort.coTrainer.firstName}}</td>
            <td>{{cohort.coTrainer.lastName}}</td>
            <td>{{cohort.coTrainer.email}}</td>
            <td>{{cohort.coTrainer.phoneNumber}}</td>
            <td>{{cohort.coTrainer.trainingAddress.city}}, {{cohort.coTrainer.trainingAddress.state}}</td>
            <button (click)=removeCotrainer()>Remove Cotrainer</button>
        </tr>

        <tr *ngFor='let temp of userList'>
            <td>{{temp.userId}}</td>
            <td>{{temp.firstName}}</td>
            <td>{{temp.lastName}}</td>
            <td>{{temp.email}}</td>
            <td>{{temp.phoneNumber}}</td>
            <td>{{temp.personalAddress}}</td>
            <button (click)="removeUserFromCohort(temp.email)">Remove User</button>
        </tr>

    </table>
    <h6>Edit End Date</h6>
    <input id='endingDate' ngModel type="date" min="2018-01-01" max="2020-12-31"><button (click)='setCohortDate()'>Submit Date</button>

</div>