<app-navbar></app-navbar>
<div class="container">
    <div class="main">
        <div class="main-center">
            <form class="" method="post" action="#">

                <div class="form-group">
                    <label for="name">Date of interview notification</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Please enter a date" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="24hourNoitce">24 Hour Notice?</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <label>Yes</label><input type="radio" class="form-control" name="email" value="Yes" />
                        <label>No</label><input type="radio" class="form-control" name="email" value="No" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="username">Job Description Provided?</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <label>Yes</label><input type="radio" class="form-control" name="email" value="Yes" />
                        <label>No</label><input type="radio" class="form-control" name="email" value="No" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Actual interview format?</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="actualFormat" placeholder="Enter actual interview format" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm">Proposed interview format?</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="proposedFormat" placeholder="Enter proposed interview format" />
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit Feedback</button>

            </form>
        </div>
        <!--main-center"-->
    </div>
    <!--main-->
</div>
<!--container-->