#associatesHeader{
    background: orange; 
    margin: auto; 
    border-style: outset; 
    border-width: 2px; 
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 
}
#InternalAssociates{
    margin: auto; 
    max-width: 750px;
   
}
body{
    text-align: center; 
}
#associateTable{
    margin: auto; 
}
.spreadColumn{
    padding: 10px; 
    padding-left: 35px; 
    padding-right: 35px; 
}
.spreadColumnChrt{
    padding: 10px; 
    padding-right: 30px; 
}
#filterCohortBy{
    margin: 2px; 
    background: whitesmoke; 
    border-radius: 10px; 
    padding-left: 5px; 
}
// .pure-button {
//     display:flex;
//     justify-content:flex-end;
//     align-items:right; 
//   } 