<body>
    <div id="InternalAssociates">

        <div id="associatesHeader">
            <!-- [(ngModel)]='listFilter' -->
            <div style="display: inline; margin-left: -320px; ">
                <input type="text" placeholder="Filter By" [(ngModel)]='listFilter' id="filterCohortBy" />
            </div>

            <span style="display: inline;"> Cohorts</span>

            <!-- </div> -->
            <!-- <div id="addbutton"> -->
            <ng-template #content let-modal>
                <div [ngSwitch]="ngswitchCase">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" *ngSwitchCase="'addCohort'">
                        <h4 class="modal-title" id="modal-basic-title">Create Cohort</h4>
                        <form #addCohortForm='ngForm' (ngSubmit)='addCohort(addCohortForm)'>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <div class="input-group">
                                    <input id="Name" ngModel class="form-control" placeholder="Cohort Name" name="dp">
                                    <select ngModel name='location'>
                                            <option value="" disabled selected>Location</option>
                                            <option *ngFor='let temp of addressList' [value]="temp.addressId">{{temp.city}}, {{temp.state}}</option>
                                        </select>
                                </div>
                                <br>
                                <textarea rows="4" cols="50" name="description" ngModel placeholder='Description' form="cohortform"></textarea>
                                <br>
                                <h4>Start Date</h4>
                                <input name='startDate' ngModel type="date" min="2018-01-01" max="2020-12-31">
                                <br>
                                <h4>End Date</h4>
                                <input name='endDate' ngModel type="date" min="2018-01-01" max="2020-12-31">
                                <br>
                                <br>
                                <select name='trainer' ngModel>
                                    <option value="" disabled selected>Trainer</option>
                                    <option value="1">Trevin Chester</option>
                                    <option value="1">Blake Kruppa</option>
                                    <option value="1">IDK</option>
                                </select>
                                <br>
                                <br><button type='submit'>Submit</button>
                            </div>
                        </form>
                    </div>
                    <div *ngSwitchCase="'editAssociates'">
                        <div *ngIf='modalShow'>

                            <app-cohort-modal [cohort]='exportedCohort'></app-cohort-modal>

                        </div>
                    </div>
                    <div *ngSwitchDefault>peter rabbit</div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>

                    </div>
                </div>
            </ng-template>

            <button class="pure-button" (click)='open(content)'>
               New Cohort
            </button>
        </div>


        <table id="associateTable">
            <tr>
                <th class="spreadColumnChrt">Name</th>
                <th class="spreadColumnChrt">Location</th>

                <th class="spreadColumnChrt">Start Date</th>
                <th class="spreadColumnChrt">End Date</th>
                <th class="spreadColumnChrt">Trainer</th>
                <th class="spreadColumnChrt">Email</th>
            </tr>
            <tr *ngFor='let temp of filteredCohort'>
                <button 
                class= "ateam"
                (click)="openModal(temp['cohortName'], content)">
                    <td>{{temp['cohortName']}}</td>
                </button>
                <td>{{temp.address.city}},{{temp.address.state}}</td>

                <td> {{temp.startDate}} </td>
                <td> {{temp.endDate}} </td>
                <td> {{temp.trainer.firstName}} {{temp.trainer.lastName}} </td>
                <td> {{temp.trainer.email}}</td>
            </tr>

        </table>

    </div>

</body>
