$revature-orange-light: #f3a55d;
$revature-orange: #f26925;
$drew-orange: #f3a55d;
$rounded-amount: 0.5em;
@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin rounded-top {
    border-top-left-radius: $rounded-amount;
    border-top-right-radius: $rounded-amount;
}
table {
    width: 100%;
     margin-bottom: 1rem;
     padding: 50px !important;
     color: #000000;
     height: 200px;
  }
  tbody {
   padding: 15px;
  }
  th, td {
   text-align: center;
  
  }
  tr:nth-child(odd){background-color: #f2f2f2}
  th {
   background-color: #f3a55d;
   color: black;
  }
  tr:hover {
    box-shadow: inset 0px 0px 15px 5px #f3a55d;
      cursor: pointer;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
   }
   table th
   {
   padding:15px;
   }

  tr:hover {
    box-shadow: inset 0px 0px 15px 5px #f3a55d;
      cursor: pointer;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
   }
   table th
   {
   padding:15px;
   }

#associatesHeader {
    background: $revature-orange-light;
    margin: auto;
    border-style: outset;
    border-width: 2px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-color: $revature-orange-light;
}

#InternalAssociates {
    margin: auto;
    max-width: 750px;
}

body {
    text-align: center;
}

// #associateTable {
//     margin-top: 1px;
//     @include rounded-top();
//     thead {
//         @include rounded-top();
//         tr {
//             @include rounded-top();
//             th {
//                 border: none;
//             }
//         }
//     }
// }

#ateam {
    color: black;
    border-radius: 30px;
    background-color: #f3a55d;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
}

.spreadColumn {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.spreadColumnChrt {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

#filterCohortBy {
    margin: 2px;
    background: whitesmoke;
    border-radius: 10px;
    padding-left: 5px;
}

.pure-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    //justify-content:space-between;
    background-color: $revature-orange-light;
    &:hover {
        color: gray;
    }
}

.modal-body {
    width: 100%;
    text-align: left;
    // height: 10px;
    background-color: $revature-orange-light;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica;
    border-radius: 10px 10px 0px 0px;
  }
.modal-body2{
    width: 100%;
    text-align: left;
    //height: 5px;
    background-color: $revature-orange-light;
    color: black;
    padding: 5px;

    text-align: center;
    font-size: 14px;
    font-family: Helvetica;
    border-radius: 20px 20px 10px 10px;
}
.abc2 {
    border-radius: 4px;
    background-color: #f3a55d;
    color: black;
    border: 2px solid white;
}

