img {
    max-width: 100%;
    max-height: 100%;
}

.reports {
    width: 1980px;
    height: 400px;
    background: url("../../../assets/reportsimg.jpg");
    background-size: 1980px;
    background-position: bottom;
    background-attachment: fixed;
}

.interviews {
    width: 1980px;
    height: 400px;
    background: url("../../../assets/interviewsimg.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.manage {
    width: 1980px;
    height: 400px;
    background: url("../../../assets/manageimg.jpg");
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.surveys {
    width: 1980px;
    height: 400px;
    background: url("../../../assets/surveyimg.jpg");
    background-size: 1980px;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-right: 40%;
}

.btn {
    margin-left: 37%;
    margin-top: 8%;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        color: orange;
    }
}

a {
    border: 3px solid;
    border-color: white;
    padding: 5px;
    &:hover {
        color: orange;
    }
}