img {
    max-width: 100%;
    max-height: 100%;
}

.reports {
    width: 1980px;
    height: 450px;
    background: url("../../../assets/reportsimg.jpg");
    background-size: cover;
    background-position: bottom 15% right 15%;
    background-repeat: no-repeat;
    //background-attachment: fixed;
}

.interviews {
    width: 1980px;
    height: 450px;
    background: url("../../../assets/interviewsimg.jpg");
    //background-size: 100%;
    background-position: top 25% right 35%;
    ;
    //background-attachment: fixed;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.manage {
    width: 1980px;
    height: 450px;
    background: url("../../../assets/managerimg.jpg");
    background-size: 100%;
    background-position: top 20% right 35%;
    //background-attachment: fixed;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    //background-size: cover;
}

.surveys {
    width: 1980px;
    height: 450px;
    background: url("../../../assets/surveyimg.jpg");
    background-size: 100%;
    background-position: bottom 15% right 15%;
    //background-attachment: fixed;
}

.container {
    margin-right: 40%;
}

.btn {
    margin-left: 37%;
    margin-top: 8%;
    font-size: 20px;
    text-decoration: none;
    &:hover {
        color: orange;
    }
}

a {
    border: 3px solid;
    border-color: white;
    padding: 5px;
    &:hover {
        color: orange;
    }
}