<app-navbar> </app-navbar>


<body style="text-align:center;">
    <div class="centeredBody">

        <p>
            Welcome: {{user?.firstName }} {{user?.lastName}}
        </p>
    </div>
    <div class="container">
        <div class="row reports">
            <a routerLink="reportRoute">REPORT</a>

        </div>
        <div class="row interviews">
            interviews
        </div>
        <div class="row manage">
            manage
        </div>
        <div class="row surveys">
            surveys
        </div>
    </div>
</body>