<app-navbar> </app-navbar>

<body>

    <div class="container">
        <br>
        <div class="row surveys">
            <div class="btn btn-2"><a routerLink="/surveyList">SURVEYS</a></div>
        </div>
        <br>
        <div class="row manage">
            <div class="btn btn-2"><a routerLink="/ManageRoute">MANAGE</a></div>
        </div>
        <br>
        <div class="row interviews">
            <div class="btn btn-2"><a routerLink="/InterviewListRoute">INTERVIEWS</a></div>
        </div>
        <br>
        <div class="row reports">
            <div class="btn btn-2"><a routerLink="/reportRoute">REPORTS</a></div>
        </div>
        <br>



        <br>
        <br>
        <br>

    </div>
</body>