<app-navbar> </app-navbar>

<body style="text-align:center;">
    <div class="centeredBody">

        <p>
            Welcome: {{user?.firstName }} {{user?.lastName}}
        </p>
    </div>
    <div class="container">
        <div class="row surveys">
            <div class="centered"><h1>Staging Management System</h1></div>
            <div class="below-centered">Revature associates who have completed training 
                and are awaiting a job assignment.</div>
            <!-- <div class="btn"><a routerLink="surveyList">SURVEYS</a></div> -->
        </div>
<!--         <div class="row manage">
            <div class="btn"><a routerLink="reportRoute">MANAGE</a></div>
        </div>
        <div class="row interviews">
            <div class="btn"><a routerLink="reportRoute">INTERVIEWS</a></div>
        </div>
        <div class="row reports">
            <div class="btn"><a routerLink="reportRoute">REPORTS</a></div> -->

        <!-- </div> -->



        <br>
        <br>
        <br>

    </div>
</body>