<div>

<app-navbar></app-navbar>
</div>
<br><br>

<div id="root">


    <div class="container">
      <div class="jumbotron">

        <h2 class="mb-3">Analytics: QC Survey Data</h2>
        <div class="col-6">

          <div class="card form-group mb-3">

            <h4 class="card-header">Name (Optional)</h4>

            <div class="card-body">
              <h4 class="card-title">Feedback submitted by Survey Takers</h4>

            </div>
          </div>
          <br>
          <br>

          <div class="card form-group mb-3">

            <h4 class="card-header">Email (Optional)</h4>

            <div class="card-body">
              <h4 class="card-title">Feedback submitted by Survey Takers</h4>

            </div>
          </div>
          <br>
          <br>


          <div class="card form-group mb-3">

            <h4 class="card-header">What was your most recently completed week of training?</h4>
            <div class="card-body">
              <app-answer-data1></app-answer-data1>
            </div>
          </div>
          <br>
          <br>

          <div class="card form-group mb-3">
            <h4 class="card-header">How satisfied were you with the training?</h4>
            <div class="card-body">
              <app-answer-data3></app-answer-data3>
            </div>
          </div>
          <br>
          <br>



          <div class="card form-group mb-3">
            <h4 class="card-header">The materials provided helpful</h4>
            <div class="card-body">
              <app-answer-data4></app-answer-data4>
            </div>
          </div>
          <br>
          <br>


          <div class="card form-group mb-3">
            <h4 class="card-header">Content/Project Planning was well organized</h4>
            <div class="card-body">
              <app-answer-data5></app-answer-data5>
            </div>
          </div>
          <br>
          <br>


          <div class="card form-group mb-3">
            <h4 class="card-header">Questions were encouraged and answered</h4>
            <div class="card-body">
              <app-answer-data6></app-answer-data6>
            </div>
          </div>
          <br>
          <br>


          <div class="card form-group mb-3">
            <h4 class="card-header">Training and Projects met my expectations</h4>
            <div class="card-body">
              <app-answer-data7></app-answer-data7>
            </div>
          </div>
          <br>
          <br>


          <div class="card form-group mb-3">
            <h4 class="card-header">Have you started working on your portfolios?</h4>
            <div class="card-body">
              <app-answer-data2></app-answer-data2>
            </div>
          </div>
          <br>
          <br>

          <div class="card form-group mb-3">
            <h4 class="card-header">Any additional comments reguarding above ratings</h4>
            <div class="card-body">
              <h4 class="card-title">Feedback submitted by Survey Takers:</h4>
            </div>
          </div>
          <br>
          <br>

          <div class="card form-group mb-3">
            <h4 class="card-header">Any overall feedback (Training / Trainer / QC)</h4>
            <div class="card-body">
              <h4 class="card-title">Feedback submitted by Survey Takers:</h4>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
