table {
  width: 100%;
   margin-bottom: 1rem;
   padding: 50px !important;
   color: #000000;
   height: 200px;
}
tbody {
 padding: 15px;
}

th, td {
 text-align: center;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
 background-color: #f3a55d;
 color: black;
}
th.text-left {
 text-align: left;
}
table th:first-child{
 border-top-left-radius: 0.5em !important;

}

table th:last-child{
 border-top-right-radius: 0.5em !important;
}
th.Description {
 text-align: center;
}

th.DateCreated {
 text-align: right;
 padding-right: 30px;

}

td.text-left {
 text-align: left;
}
tr:hover {
 box-shadow: inset 0px 0px 15px 5px #f3a55d;
   cursor: pointer;
 }
 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
table th
{
padding:15px;
}

#main-content-container{
 max-width: 80%;
   margin-left: auto;
   margin-right: auto;

}
button.btn.btn-primary {
 background: #f3a55d;
 color: black;
}


.container {
   max-width: 960px;
}

.modal-dialog {
 max-width: 70%;
 margin: 2em auto;
}
.container {
 max-width: 720px;
}
.modal-body {
 position: relative;
 -webkit-flex: 1 1 auto;
 flex: 1 1 auto;
 padding: 1rem;
}
.noteDiv {
 color: green;
 font-weight: bold;
}

.modalHeading {
 width: 100%;
 text-align: left;
 height: 60px;
 background-color: #f3a55d;
 color: black;
 padding: 10px;
 text-align: center;
 font-size: 22px;
 font-family: Helvetica;
 border-radius: 10px 10px 0px 0px;
}
.buttonCreate {
 border-radius: 10px;
 background-color: #f3a55d;
 font-weight: bold;
 height: 40px;
 border: none;
 color: black;
 width: 50%;
}

.buttonBack:hover, .buttonBack:active {
 background-color: #f3a55d;
 color: #565D61;
 border: 1px solid black;
}

.buttonBack {
 border-radius: 10px;
 background-color: #f3a55d;
 font-weight: bold;
 height: 40px;
 border: none;
 color: black;
 width: 50%;
}
hr {
 display: block;
 unicode-bidi: isolate;
 margin-block-start: 0.5em;
 margin-block-end: 0.5em;
 margin-inline-start: auto;
 margin-inline-end: auto;
 overflow: hidden;
 border-style: inset;
 border-width: 1px;
}

.modal-content {
 padding: 1rem;
 position: relative;
 -webkit-flex: 1 1 auto;
 flex: 1 1 auto;
 padding: 1rem;

}
.surveyInfoCircle {
 font-size: 17px;
 text-align: center;
 width: 100%;
}
.modal-title {
 margin-bottom: 0;
 line-height: 1.5;
}
#containerTemplate {
    border-radius: 0 0 10px 10px;
    padding: 15px;
}
