.container {
    background-color: #f3a55d;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    //border: 4px solid #d3d3d3;
    padding: 1rem;
    width: 700px;
    height: auto;
}

#dropdown {
    width: 600px;
    position: relative;
    left: 1.7%;
    display: inline-block;
}

#selectquestions {
    width: 600px;
    position: relative;
    left: 1.7%;
    display: inline-block;
}
#questionlist {
  
    position: relative;
    width: 600px;
    margin: 5px;
    padding-left: 5px;
    left: 1.7%;
    border-radius: 17px 17px 17px 17px;
-moz-border-radius: 17px 17px 17px 17px;
-webkit-border-radius: 17px 17px 17px 17px;
border: 1px solid #000000;
}

#textarea {
    width: 600px;
}

#singlebutton {
    position: relative;
    left: 1.7%;
}
#answerlist {
    position: relative;
    left: 1.7%;
}
#addquestion {
    position: relative;
    left: 1.7%;
}
#answerdesc {
    position: relative;
    width: 600px;
    margin: 5px;
    left: 1.7%;
    border-radius: 17px 17px 17px 17px;
-moz-border-radius: 17px 17px 17px 17px;
-webkit-border-radius: 17px 17px 17px 17px;
border: 1px solid #000000;

}
#addAnswer {
    position: relative;

}
#removeAnswer {
    position: relative;
    left: 1%;
}
#answerText {
    width: auto;
}
