.container {
    position: relative;
    top: 50px;
    width: 900px;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-color: orange;
    background: rgb(185, 184, 184);
    border-radius: 10px 10px 10px 10px;
}

#dropdown {
    width: 600px;
    position: relative;
    left: 1.7%;
    display: inline-block;
}

#selectquestions {
    width: 600px;
    position: relative;
    left: 1.7%;
    display: inline-block;
}

#addquestion {
    position: relative;
    left: 112%;
    bottom: 38px;
}

#questionlist {
    position: relative;
    width: 750px;
    height: 30px;
    left: 60px;
    border-style: dashed;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-color: black;
}

#textarea {
    width: 600px;
}

#singlebutton {
    position: relative;
    left: 1.7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}