<app-navbar> </app-navbar>



<table class="table table-striped" *ngIf='listOfSurvey && listOfSurvey.length'>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Closed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let temp of listOfSurvey; index as i'>
            <td>{{temp.title}}</td>
            <td>{{temp.description}}</td>
            <td>{{temp.firstName}}</td>
            <td>{{temp.dateCreated | showTimestamp}}</td>
            <td>
                <p *ngIf="temp.closingDate; else elseBlock2">{{temp.listOfSurvey | showTimestamp}}</p>
                <ng-template #elseBlock2><button (click)='closeSurvey(i)'>Close Now</button></ng-template>
            </td>
        </tr>
    </tbody>
</table>
