table {
    width: 100%;
    margin-bottom: 1rem;
    padding: 50px !important;
    color: #000000;
    height: 200px;
}

tbody {
    padding: 15px;
}

th,
td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

th {
    background-color: #f3a55d;
    color: black;
}

tr:hover {
    box-shadow: inset 0px 0px 15px 5px #f3a55d;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table th {
    padding: 15px;
}

#main-content-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    min-height: 300px;
}

tr:hover {
    box-shadow: inset 0px 0px 15px 5px #f3a55d;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table th {
    padding: 15px;
}

#main-content-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-dialog {
    max-width: 70%;
    margin: 2em auto;
}

.modal.show .modal-dialog {
    transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.position-static {
    position: static!important;
}

.submitSurveyButton {
    background-color: #f3a55d;
    color: black;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
}

input#ma {
    margin-left: 20px !important;
}

h1 {
    margin: 15% auto 20% auto;
    text-align: center;
    font-weight: bold;
    color: #f3a55d;
    font-size: 70px;
}


/* #box-shadow {
  box-shadow:  5px 10px 18px #888888; Blake wants shadows gone -David
} */

.form-control {
    width: 15%;
    margin-bottom: 10px;
}

.panel-body,
th,
h4 {
    background-color: #f3a55d;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control[_ngcontent-c1] {
    width: 82%;
    margin-bottom: 10px;
    right: 34px;
    position: relative;
    top: 12px;
}

b,
strong {
    font-weight: bolder;
    position: relative;
    top: 23px;
    left: 25px;
}

#searchbar {
    width: 50%;
    margin-bottom: 10px;
    right: 70px;
    position: relative;
    top: 12px;
}

.col-md-2 {
    flex: 41 0 16.666667%;
    max-width: 33.666667%;
    right: 70px;
    position: relative;
}

b,
strong {
    font-weight: bolder;
    position: relative;
    top: 23px;
    left: -15px;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    left: -15px;
    <<<<<<< HEAD
}


}