<app-navbar> </app-navbar>


<body style="text-align:center;">
    <div class="centeredBody">
        <div id="subManagerMenu">
            <button class="inlineManagerMenu" [routerLink]="['/ManageRoute','subMan1Internal']">Associates </button> <button class="inlineManagerMenu" [routerLink]="['/ManageRoute','cohort']"> Cohorts </button>
            <button class="inlineManagerMenu">
                    <i class="material-icons">person</i>
                +
            </button>
            <br>
            <router-outlet></router-outlet>
        </div>
    </div>
</body>