<!-- This is the form for user registration  -->
<div class="form-group">
    <h4>New User Registration</h4>
    <hr>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">First and last name</span>
        </div>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
    </div>

    <br>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <br>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Birthday</span>
        </div>
        <input #birthdate type="date" id="start" name="trip-start" value="2018-07-22" min="1960-01-01" max="2020-12-31">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone Number (000)-000-0000</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <button class="btn rev-btn" type="submit">Register</button>


</div>