table {
  border-collapse: collapse;
  width: 75%;
  margin: 0px auto;
margin-top: 10%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #f3a55d;
  color: black;
}
th.text-left {
  text-align: left;
}
thead{
  border-radius: 25px;
}
th.Description {
  text-align: center;
}

th.DateCreated {
  text-align: right;
  padding-right: 30px;

}

td.text-left {
  text-align: left;
}
tr:nth-child(even):hover  {
  box-shadow: inset 0px 0px 5px 5px #f3a55d;
  cursor: pointer;
}
tr:nth-child(odd):hover  {
  box-shadow: inset 0px 0px 5px 5px #f3a55d;
  cursor: pointer;

}
