table {
    width: 100%;
    margin-bottom: 1rem;
    padding: 50px !important;
    color: #000000;
    height: 200px;
}

tbody {
    padding: 15px;
}

th,
td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

th {
    background-color: #f3a55d;
    color: black;
}

tr:hover {
    box-shadow: inset 0px 0px 15px 5px #f3a55d;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table th {
    padding: 15px;
}

#main-content-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    min-height: 300px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-dialog {
    max-width: 70%;
    margin: 2em auto;
}

.modal.show .modal-dialog {
    transform: none;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.assignSurveyBtn {
    color: black;
    border-radius: 10px;
    background-color: #f3a55d;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
}

.buttonDiv {
    float: right;
}
<<<<<<< HEAD

#box-shadow {
    box-shadow:  5px 10px 18px #888888;
  }
  
  .form-control {
    width: 15%;
    margin-bottom: 10px;
  }
=======
>>>>>>> fb8922473776c0af677cc82c640eb77fefc9ef1f
