<div id="app-nav">
    <!-- not in global sass -->
    <div id="navbar-header c-pointer shift-left">
        <!-- not in global sass -->
        <a routerLink="/home"> <img id="rev-logo" src="../../../assets/rev-logo.png" alt="revature logo"></a>

        <div class="inlineNav" style="display: inline;">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- <img [src]='loggedUser.imgUrl' height="50px" width="50px" style="border-radius: 50%"> -->
                <span>Blake Kruppa </span>

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a href="" class="dropdown-item" routerLink="/profileInfo">Edit Profile</a>

                <a href="" class="dropdown-item" (click)='logout()'>Logout</a>

            </div>
        </div>
        <!--  <button class="inlineNav nav-link dropdown-toggle" routerLink="/assign-survey">Surveys</button> <button class="inlineNav nav-link dropdown-toggle" routerLink="/ManageRoute">Manage</button> <button class="inlineNav nav-link dropdown-toggle" routerLink="/InterViewRoute">Interviews</button>
        <button class="inlineNav nav-link dropdown-toggle" routerLink="/reportsRoute">Reports</button> -->
        <!-- old button -->
        <!-- <button class="inlineNav" routerLink="/profileInfo">ProfileInfo</button> -->

        <div class="inlineNav" style="display: inline;">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- <img [src]='loggedUser.imgUrl' height="50px" width="50px" style="border-radius: 50%"> -->
                <span>Reports </span>

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a href="" class="dropdown-item" routerLink="">View All</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>



            </div>
        </div>

        <div class="inlineNav" style="display: inline;">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- <img [src]='loggedUser.imgUrl' height="50px" width="50px" style="border-radius: 50%"> -->
                <span>Interviews </span>

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a href="" class="dropdown-item" routerLink="">View All</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>



            </div>
        </div>

        <div class="inlineNav" style="display: inline;">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- <img [src]='loggedUser.imgUrl' height="50px" width="50px" style="border-radius: 50%"> -->
                <span>Manage </span>

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a href="" class="dropdown-item" routerLink="">View All</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>
                <a href="" class="dropdown-item" routerLink="">Placeholder</a>



            </div>
        </div>

        <div class="inlineNav" style="display: inline;">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- <img [src]='loggedUser.imgUrl' height="50px" width="50px" style="border-radius: 50%"> -->
                <span>Surveys </span>

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a href="" class="dropdown-item" routerLink="/surveyLink">View All</a>
                <a href="" class="dropdown-item" routerLink="/assign-survey">Assign</a>
                <a href="" class="dropdown-item" routerLink="/survey-create">Create</a>
                <a href="" class="dropdown-item" routerLink="">Template</a>


            </div>
        </div>




    </div>

</div>