<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-associate-feedback-form></app-associate-feedback-form> -->
<!-- <app-staging-mgr-feedback></app-staging-mgr-feedback> -->
<!-- <router-outlet></router-outlet>
 -->
<!-- <ng-http-loader [backdrop]="false" [backgroundColor]="'#ff0000'" [debounceDelay]="100" [extraDuration]="300" [minDuration]="300" [opacity]=".6" [spinner]="spinkit.skWave"></ng-http-loader>
 -->
<ng-http-loader [backdrop]="false" [backgroundColor]="'#ff0000'" [debounceDelay]="100" [extraDuration]="300" [minDuration]="300" [opacity]=".6" [spinner]="spinkit.skWave"></ng-http-loader>
<router-outlet></router-outlet>